.page_container{
    // position: relative;
    // box-sizing: border-box;
    // padding-top:.98rem;
    // width:100%;
    // height:100%;
    // background-color:rgba(0,0,0,1);
    // 大佬演示的时候用100的偏移量，我用30半天出不来，上一个page偏移30不够，因为menu有0.98rem的高度，偏移100可以看到，开始以为定位有问题，搞了半天坑，其实不是
    .page{
        // border: 1px solid #000;
        position: absolute;
        left:0;
        top:0;
        box-sizing: border-box;
        width:100%;
        height:100%;
        padding-top:.98rem;
        // transition: .5s; 在js里为下一个页面添加
    }
}