.pop_container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  justify-content: center;
  align-items: center;
  font-size: 0.24rem;
  color: #fff;
}
.pop_container .pop_inner {
  position: relative;
}
.pop_container .pop_inner .pop_title {
  position: absolute;
  font-size: 0.4rem;
  top: -0.5rem;
  left: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 0.05rem;
}
.pop_container .pop_inner .pop_top {
  width: 6.53rem;
  height: 1.09rem;
  background: url(../assets/pop_top_bg.png) no-repeat 0 0 / 100%;
}
.pop_container .pop_inner .pop_mid {
  width: 6.53rem;
  background: url(../assets/pop_cir_bg.png) 0 0 / 100%;
}
.pop_container .pop_inner .pop_mid .pop_content {
  width: 6.53rem;
  background: url(../assets/b_pop_bg.png) left bottom / 100%;
}
.pop_container .pop_inner .pop_mid .pop_content .pop_btn {
  display: block;
  margin: 0.5rem auto 0;
  width: 3.81rem;
  height: 0.89rem;
  background: url(../assets/pop_btn_spr.png) 0 0 / 100%;
}
.pop_container .pop_inner .pop_bottom {
  width: 6.53rem;
  height: 1.13rem;
  background: url(../assets/pop_bot.png) 0 0 / 100%;
}
.pop_container .pop_inner .pop_close {
  position: absolute;
  top: 0.3rem;
  right: -0.28rem;
  width: 0.65rem;
  height: 0.65rem;
  line-height: 0.65rem;
  border: 3px solid #fff;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
}
#pop_attend .pop_platform .pop_login {
  display: flex;
  justify-content: center;
}
#pop_attend .pop_platform .pop_login .pop_wechat,
#pop_attend .pop_platform .pop_login .pop_qq {
  width: 1.96rem;
  height: 2.84rem;
  margin: 0 0.16rem;
}
#pop_attend .pop_platform .pop_login .pop_wechat.selected::before,
#pop_attend .pop_platform .pop_login .pop_qq.selected::before {
  content: '';
  display: block;
  width: 1.96rem;
  height: 2.84rem;
  background: url('../assets/pop_cover.png') no-repeat 0 0 / 100%;
}
#pop_attend .pop_platform .pop_login .pop_wechat {
  background: url(../assets/pop_login_sel_wx.jpg) 0 0 / 100%;
}
#pop_attend .pop_platform .pop_login .pop_qq {
  background: url(../assets/pop_login_sel_qq.jpg) no-repeat 0 0 / 100%;
}
#FAQ .pop_faq {
  font-size: 0.24rem;
  width: 85%;
  height: 7.2rem;
  margin: 0 auto;
  overflow-y: scroll;
  line-height: 0.35rem;
  font-weight: bold;
}
#FAQ li {
  margin-bottom: 0.2rem;
}
#FAQ li .pop_q {
  margin-bottom: 0.1rem;
  color: #896144;
}
#FAQ li .pop_ans {
  color: #000;
}
